<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='mapilio_fav.png') }}">
    <title>Sequence List</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-4 rounded-4">
            <a class="navbar-brand mx-4" href="#">MapSyncer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/display-sequence">Display Sequence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/details">Detailed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sequence-edit">Sequence Edit</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="" onclick="logout(event)">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container mt-5">
        <h1 class="mt-5 text-center mb-4">Sequence IDs with Locations</h1>
        <br>
        {% if message %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            <p class="alert alert-primary" style="display: none;" role="alert" id="info-message"></p>
            <div class="text-center">
                <button type="button" class="btn btn-primary mb-3" onclick="getUserInfo()" id="fetchButton">Fetch User Sequences</button>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        icon: 'success',
                        title: "It's all over!",
                        text: "You can now upload your images.",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    })
                    document.getElementById('fetchButton').click();
                });
            </script>
        {% else %}
        <div>
            <form id="downloadForm" class="mb-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 mb-2">
                        <div class="input-group mb-2">
                            <label for="startNumberID" class="input-group-text">Start Number ID</label>
                            <input type="text" class="form-control" id="startNumberID" placeholder="Start Number ID">
                        </div>
                        <div class="input-group">
                            <label for="endNumberID" class="input-group-text">End Number ID</label>
                            <input type="text" class="form-control" id="endNumberID" placeholder="End Number ID">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary mt-3 me-md-2" onclick="downloadRange(this)">Download range</button>
                        <button type="button" class="btn btn-primary mt-3 ms-md-2" onclick="downloadAll()">Download all sequences</button>
                        <button type="button" class="btn btn-primary mt-3 ms-md-2" onclick="uploadAll()">Upload all sequences</button>
                    </div>
                </div>
            </form>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page - 1 }}">« Previous</a>
                    </li>
                {% endif %}
        
                {% set start_page = current_page - 2 %}
                {% if start_page < 1 %}
                    {% set start_page = 1 %}
                {% endif %}
        
                {% set end_page = current_page + 2 %}
                {% if end_page > num_pages %}
                    {% set end_page = num_pages %}
                {% endif %}
        
                {% if start_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    {% if start_page > 2 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endif %}
        
                {% for page_num in range(start_page, end_page + 1) %}
                    <li class="page-item {% if page_num == current_page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
        
                {% if end_page < num_pages %}
                    {% if end_page < num_pages - 1 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num_pages }}">{{ num_pages }}</a>
                    </li>
                {% endif %}
        
                {% if current_page < num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page + 1 }}">Next »</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        

        <div class="row mt-3">
            {% for item in sequence_data %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><b>Number: {{ (current_page - 1) * items_per_page + loop.index }} <br></b><b>Sequence ID:</b> {{ item.id }} <br><br> <b>Location:</b> {{ item.location }}</p>
                        <div class="progress" id="progressBarContainer_{{ item.id }}">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0" id="progressBar_{{ item.id }}"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if item.download_disabled %}
                                <button type="button" class="btn btn-m btn-success disabled">Downloaded</button>
                                {% if item.upload_disabled %}
                                    <button type="button" class="btn btn-m btn-success disabled" id="uploadedButton_{{ item.id }}">Uploaded</button>
                                {% else %}
                                    <button type="button" class="btn btn-m btn-outline-secondary btn-upload" onclick="uploadSequence('{{ item.id }}', this)" id="uploadButton_{{ item.id }}">Upload</button>
                                {% endif %}
                                {% else %}
                                    <button type="button" class="btn btn-m btn-outline-secondary" onclick="downloadSequence('{{ item.id }}')" id="downloadButton_{{ item.id }}" >Download</button>
                                    <button type="button" class="btn btn-m btn-outline-secondary btn-upload disabled"  onclick="uploadSequence('{{ item.id }}' , this)" id="disableUpload_{{ item.id }}">Upload</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not sequence_data %}
                <div class="col-12 text-center mt-4">
                    <div class="alert alert-warning" role="alert">
                        No sequence to fetch was found in your KartaView account.
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='global.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
        var user_name = "{{ user_name }}";
        if (user_name === "None" || user_name === null || user_name === "") {
            window.location.href = "/";
        } else {
            localStorage.setItem('user_name', user_name);
        }
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
